body {background-color: lightgreen;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 18px;}
h1 {color:rgb(18, 73, 236);
text-align: center; }
h2 {color:slategray}
p {color: rgb(49, 71, 4);}