

body {
    background-color: #339AA6;
    font-size: 1.1em;
}

* {
    padding: 0px;
    margin: 0px;
}

/*Variaveis */


:root {
    --cor0: #339AA6;
    --cor1: #143D61;
    --cor2: #26395338;
    --cor3: white;
}

/*cabeçalho */

header {
    background-color: white;
    font-size: 1.4em;
    font-weight: bolder;
    color: #143D61;
}

header table {
    display: inline-block;
}

header td {
    height: 110px;
    text-align: center;
}

header #telefone {
    margin-top: -30px;
    margin-bottom: 10px;
}

/*menu */

nav {
    background-image: linear-gradient(to right, #0477BF,#1F4C73);
    padding: 14px;
    font-size: 1.2em;
    text-shadow: 0px 4px 10px black;
    text-align: center;    
}

nav li {
    display: inline;
    list-style-position: inside;
    padding: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    transition-duration: .5s;
    border-radius: 5px;
}

nav a:hover {
    color: black;
    background-color: #0477BF;
    padding: 7px;
}

/*Submenu */

.submenu {
    display: none;
    position: absolute;    
}

li:hover .submenu {
    display: block;
    width: 1500px;
    background-color: #143D61;
    color: white;
    border-radius: 10px;
}

.submenu ul li a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0);
}

.submenu li {
    display: block;
    padding: 5px;
}

.cate {
    font-size: 1.4em;
}

.submenu ul {
    width: 300px;
    display:inline-table;  
    text-align: justify;
}

/*corpo */

main {
    min-width: 320px;
    max-width: 1400px;
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* foto dos pescadores */

article {
    margin-left: 3.5px;
}

.pescadores {
    width: 345px;
    display: inline-block;  
}

.pescadores img {
    width: 100%;
}

/*Itens */

article h1 {
    margin: 10px;
}

article .produto {
    width: 332px;
    height: 400px;
    text-align: center;
    display: inline-table;
    text-align: center;
    margin: 0px 0px 20px 10px;
}

 .produto img {
    width: 100%;
    height: 300px;
}

.produto p {
    padding-top: 10px;
}

.produto strong {
    font-size: 1.5em;
}

.produto:hover {
    background-color: #EAEAEA;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 2px 20px #26395338;
}

/*Descrições */
aside {
    background-image: linear-gradient(to left,  #84D0D9,  #0477BF, #339AA6, #1F4C73);
    text-align: center;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

aside p {
     line-height: 1.8;
}

aside p > strong {
    font-size: 1.2em;
}